.book .book-summary .book-logo {
    padding: 20px 20px 6px 20px;
}
.articles li {
    text-align: left!important;
    padding-left: 75px;
}
.book-summary ul.summary li.active>a {
    color: #f49501;
}
.book-summary ul.summary li {
    text-align: center;
}
.book-summary ul.summary li.header {
    border-top: 1px solid rgba(0,0,0,.07);
}
.gitbook-link {
    display: none!important;
}
