@media screen and (max-device-width: 1000px) {
.book-anchor-title {
    display:none;
}
.page-footer {
    display:none;
}
#book-search-input{
    display:none;
}
.gitbook-donate{
    display:none;
}
.header-inner .header-nav{
    display:none;
}
.page-inner {
    max-width: none;
    /* padding: 20px 270px 40px 40px; */
}
}