@media screen and (max-device-width: 1000px) {
.book-anchor-title {
    display:none;
}
.page-footer {
    display:none;
}
#book-search-input{
    display:none;
}
.gitbook-donate{
    display:none;
}
.header-nav{
    display:none;
}
}